* {
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 10px 30px;
    border: none;
    color: #f9faf8;
    border-radius: 5px;
    font-weight: 700;
}

.is-flex-container {
    display: flex;
}

.flex-content-space-between {
    justify-content: space-between;
}

.main-padding-horizontal {
    padding-left: 350px;
    padding-right: 350px;
}

.dark-blue-background {
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #e5e7eb;
}

.button-color,
.call-to-action-bg-color {
    background-color: #3882f6;
}

.flex-align-center {
    align-items: center;
}

.flex-gap {
    gap: 50px;
}

.flex-direction-column {
    flex-direction: column;
}

.information-header-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.gray-background {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

#header {
    min-height: 70px;
}

#hero {
    min-height: 500px;
}

#information {
    min-height: 500px;
}

#quote {
    min-height: 400px;
}

#cta {
    min-height: 300px;
}

#footer {
    min-height: 50px;
    text-align: center;
    align-content: center;
    color: #f9faf8;
}